<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.MailKit"/>
  </extensions>
<targets>

  <target xsi:type="File" name="jsonFile" fileName="c:\temp\nlog-json-${shortdate}.log">
    <layout xsi:type="JsonLayout" includeAllProperties="true">
      <attribute name="time" layout="${longdate}" />
      <attribute name="level" layout="${level:upperCase=true}"/>
      <attribute name="message" layout="${message}" />
    </layout>
  </target>

  <target xsi:type="Mail" name="Mail"
          smtpServer="smtp.yandex.ru"
          smtpPort="25"
          smtpAuthentication="Basic"
          smtpUserName="errors-test@yandex.ru"
          smtpPassword="qazxsw123"
          from="errors-test@yandex.ru" to="Enter your email here" />
  </targets>
  
  <rules>
    <logger name="*" minlevel="Info" writeTo="jsonFile" />
    <logger name="*" minlevel="Error" writeTo="Mail" />
  </rules>
</nlog>