@{
    ViewData["Title"] = "Home Page";
}

<form method="post">
    <input type="text" placeholder="Login" name="login" />
    <input type="password" placeholder="Login" name="password" />
    <button type="submit">Login</button>
</form>